<h2>Lista dos meus contatos</h2>
<form action="/contato/create" method="POST">
  <div class="row d-flex flex-column">
    <div class="col-4">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address:</label>
        <input type="email" class="form-control" name="email" placeholder="name@example.com">
      </div>
    </div>
    <div class="col-2">
      <div class="mb-3">
        <label for="telefone" class="form-label">Fone:</label>
        <input type="text" class="form-control" name="telefone" placeholder="(00) 0000-0000">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="text" class="form-control" name="password" placeholder="Digite sua senha">
      </div>


    </div>

  </div>
  <input type="submit" value="Enviar" class="btn btn-primary">
</form>
<a href="/contato/index">Home</a>
